{% extends "base.html" %}

{% block main %}
<h1>AKPIK Datathon 2023 – Submission</h1>

{% for field, errors in form.errors.items() %}
<div class="alert alert-danger">
    {{ form[field].label }}: {{ ', '.join(errors) }}
</div>
{% endfor %}

<form method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div>
  {{ form.group_name.label }} {{ form.group_name(class_="form-control") }}
  </div>
  <div class="mt-3">
  {{ form.submission.label }} {{ form.submission(class_="form-control") }}
  </div>
  <div class="mt-3">
    <input class="btn btn-primary" type="submit">
  </div>
</form>
{% endblock %}
